body {
  font-family: Verdana, sans-serif;
  background-color: rgba(255, 243, 78, 1);
}

article,
footer {
  background-color: rgba(248, 134, 135, 1);
}

article {
  padding: 0 15px;
}

main {
  display: flex;
  gap: 8px;
}

a {
  text-decoration: none;
  color: lightgoldenrodyellow;
}

a:hover {
  text-decoration: underline;
}
